/*
General style
 */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0
}

hr {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 1200px) {
    /* Keep width when screen is big */
    .container {
        width: 1170px;
    }
}
.container-spacing {
    margin-top: 30px;
    margin-bottom: 30px;
}

input,textarea {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    padding: 10px;
    font-family: Arial, sans-serif;
}
input:focus,textarea:focus {
    /* Highlight when input selected */
    border: 1px solid rgb(0, 123, 255);
}
input:focus,select:focus,textarea:focus,button:focus {
    /* Remove browser auto highlight */
    outline: none;
}
input.full-width,textarea.full-width {
    width: calc(100% - 22px);
}

button {
    background-color: #107ef4;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
button:hover {
    background-color: #4198f6;
}
button.full-width {
    width: 100%;
}

.mb-5 {
    margin-bottom: 5px;
}

.cover-img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
@media (max-width: 700px) {
    .fw-small-dp {
        width: 100%;
    }
}

.center-content {
    margin: 10px auto;
}
img.center-content {
    display: block;
 }
.center-text {
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 3px;
}
table tr:nth-child(even) {
    background-color: #eee;
}
table tr:nth-child(odd) {
    background-color: #fff;
}


/*
Navigation header and menu
 */
nav {
    background-color: rgba(0, 0, 0, 0.05);
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-logo {
    float: left;
}

.nav-menu {
    list-style-type: none;
    overflow: hidden;
}

.nav-menu li {
    float: right;
}

.nav-menu li a {
    display: block;
    color: rgba(0, 0, 0, 0.6);
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav-menu li.active a {
    color: rgb(0, 0, 0);
}

.nav-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

/*
Footer
 */
.footer-column {
    float: left;
    width: 33.33%;
    padding-top: 20px;
    padding-bottom: 20px;
}

@media (max-width: 600px) {
    .footer-column {
        width: 100%;
    }
}

/*
Homepage
 */
.jumbotron {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}
.jumbotron .container {
    position: relative;
    z-index: 2;
    color: #ffffff;
}
.jumbotron:after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    filter: blur(3px);
    width: 100%;
    height: 300px;
    transform: scale(1.1);
}

.jumbotron a,
.jumbotron p,
.jumbotron h1 {
    text-decoration: none;
    display: inline-block;
}

.image-product:after {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(
                rgba(0, 0, 0, 0.2),
                rgba(0, 0, 0, 0.2)
        ),
        /* bottom, image */
        url("../img/homepage-product.jpg")
        /* center image */
        center center
        no-repeat;
    background-size: cover;
}

.image-company:after {
    background:
        /* top, transparent black, faked with gradient */
        linear-gradient(
            rgba(0, 0, 0, 0.2),
            rgba(0, 0, 0, 0.2)
        ),
        /* bottom, image */
        url("../img/homepage-about.jpg")
        /* center image */
        center center
        no-repeat;
    background-size: cover;
}

.jumbotron-title {
    padding-top: 30px;
    padding-bottom: 30px;
}

.jumbotron-button {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 40px;
    color: black;
    margin-top: 30px;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
}

/*
Product page
 */
.product-image {
    height: 400px;
    width: 400px;
    padding: 5px;
}
@media (max-width: 600px) {
    .product-image {
        height: auto;
        width: 100%;
    }
}
